<div class="form_facility col-md-12">

  		<div class="jumbotron">
		  <div class="container">
		  	<div class="row">
				  <div class="col-md-6 error_message">
				    <h1>ERROR</h1>
				    <h2>You can not access this page.</h2>
				  </div>
				  <div class="col-md-6  lock_image">
				          <%= image_tag("icon_62682.png", :class => "img-polaroid", :style => "width: 80%; height: 80%;" )   %>  
				  </div>
			  </div>

		  </div>
		</div>
</div>