<% if user_signed_in? %>
	<% content_for :verticalbar do %>
		<%= render 'details/navbarVertical' %>	
	<% end %>
<% end %>

<div class="form_facility col-md-12">

  		
  		<div class="jumbotron jum-top">
		  <div class="container-fluid title_page">
		    <h1>UpRanking</h1>
		    <br>
		    <br>
		  	 <p>Sleek, intuitive, and powerful cloud infrastructure for faster and easier facility Benchmarking.</p>
		  </div>

		  <div class="container-fluid conteudo">
		  	<div class="row">
		        <div class="col-lg-4">
		          <%= image_tag("icon_64768.png", :class => "img-polaroid", :style => "width: 200px; height: 200px;" ) %>
		          <h2>Benchmark</h2>
		          <p>Exaustive and fastidious reports? Benchmark was never easyer! Now you can follow your facility performance through great dinamic graphic charts.</p>
		          
		        </div>

		        <div class="col-lg-4">
		          <%= image_tag("icon_36269.png", :class => "img-polaroid", :style => "width: 200px; height: 200px;" ) %>
		          <h2>Cloud-based</h2>
		          <p>Are you on a business trip? Are you in some country with a different timezone? Now you can acess you organization data everywhere and anytime!</p>
		        </div>

		        <div class="col-lg-4">
		           <%= image_tag("icon_23506.png", :class => "img-polaroid", :style => "width: 200px; height: 200px;" ) %>
		          <h2>Ranking</h2>
		          <p>How is your performance compared to you sector competitors? Can you do a better management? Now you can see for yourself!</p>
		         
		        </div>
		      </div>
		  </div>
		</div>
</div>