  		<div class="jumbotron">
		  <div class="container">
		  	<div class="row">
				  <div class="col-md-6 error_message">
				    <br/><br/><br/><h1>Operation Successful</h1>
				    
				  </div>
				  <div class="col-md-6  lock_image">
				          <%= image_tag("icon_78961.png", :class => "img-polaroid", :style => "width: 80%; height: 80%;" )   %>  
				  </div>
			  </div>

		  </div>
		</div>