<% content_for :verticalbar do %>
	<%= render 'details/navbarVertical' %>	
<% end %>
<div class="form_facility col-md-12">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>
</div>
