<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
$(function () {
    $('#<%=@v.object_id.to_s + "linecolumngraph" %>').highcharts({
        title: {
            text: '<%= @v[:name] %>'
        },
        xAxis: {
            categories: ['Quarter 1', 'Quarter 2', 'Quarter 3', 'Quarter 4']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: '<%= @v[:facility_name] %>',
            data: [3, 2, 1, 3]
        }, {
            type: 'spline',
            name: 'Best Ranked Facility',
            data: [3, 2.67, 3, 6.33],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }
        ]
    });
});


</script>
<div id='<%=@v.object_id.to_s + "linecolumngraph" %>' style="min-width: 290px; height: 400px; margin: 0 auto"></div>
<div class="container marketing"><hr class="featurette-divider"></div>