/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

.form-control{
    border-radius: 0px;   
}
.btn{
     border-radius: 0px;
}

.footer {
    position: relative;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    border-top: 3px solid rgba(0, 197, 255, 0.5);
}

.modal.custom .modal-dialog {
    width:50%;
    padding-bottom:100px;
    /*add what you want here*/
    text-align: left;
    color: rgba(23, 23, 21, 0.4);
}

.modal.custom.login .modal-dialog {
    width:35%;
    height: 60%;
    padding-top:15%;
    /*add what you want here*/
    text-align: left;
    color: rgba(23, 23, 21, 0.4);
}

.modal.custom .modal-dialog .page-header{
    font-size: 30px;
    color: rgba(23, 23, 21, 0.6);
}
/*******************************************************/
/* .jum-top {
    margin-top: 0px !important;
    height: 100vh;

 }

.title_page {
    padding-top: 5%;
    padding-bottom: 2%;
}

.conteudo{
    padding-top: 0%;
    text-align: center;

}

.conteudo p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.form_fancy{
    padding-top: 10px;
    padding-bottom: 10px;
}

.register_login_window{
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.verticalbar {
	padding-right: 0px;
	padding-left: 30px;
    top: 72px;
}

.container-conteudo{
    top: 60px;
}

.body-container{
    margin-top: 0px;
}

.vertical-title{
	font-size: 105% !important;
    font-weight: bold;
}



.import{
    margin-right: 20px;
    margin-left: 20px;
}

.mensagens{
    padding-top: 0%;
    background-color: lightgray;

    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: underline;
    color: red;
    border:1px solid black;

}



table{
    width: 98%;
}
table, th, td {
   border-bottom: 1px solid black;

}

th,td {
    padding: 15px;
}
*/

