<% content_for :verticalbar do %>
	<%= render 'details/navbarVertical' %>	
<% end %>
<div class="form_facility col-md-12">
<h1 class="page-header">Editing Attributes</h1>

<% @action = {:action => 'edit'} %>
<%= render 'form', @action%>
</div>