<div class="footer">
	<footer> 
		<hr class="featurette-divider">
		<p class="pull-right"><a class="btn-link" href="#">Back to top ^ </a></p>
		<p>© 2014 Company, Inc. · <a class="btn-link" href="#">Privacy</a> · <a class="btn-link" href="#">Terms</a></p>
	</footer>
</div>