	<div class="container-fluid col-md-3 vertical-bar affix">
        <div class="marketing">  
            <h4>Facility</h4> 
                
            <hr class="featurette-divider">     
            <ul class="nav nav-list bs-docs-sidenav">
                      
                <li class=""><a href="#sites"><i class="icon-chevron-right"></i> Site 1</a></li>

                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 1</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 2</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 3</a></li>

                <li class=""><a href="#sites"><i class="icon-chevron-right"></i> Site 2</a></li>

                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 1</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 2</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 3</a></li>

                <li class=""><a href="#sites"><i class="icon-chevron-right"></i> Site 3</a></li>

                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 1</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 2</a></li>
                    <li class=""><a href="#facilities"><i class="icon-chevron-right"></i> > Facility 3</a></li>
                <hr class="featurette-divider"> 
                <li><%= link_to "+ Add Facility", new_facility_path %></li>
            </ul>

        </div>
    </div>